body{
    background-color: brown;
}
.active{
    background-color: green;
    color: white;

}
header ul{
    padding-left: 0%;
    background-color: #dddddd;
}
header a{
    color: black;
    text-transform: capitalize;
    text-decoration: none;

}
header li{
    display: inline;
    padding: 10px;
    padding-left: 0%;
}
table{
    border-collapse: collapse;
}